{{!-- <h1>Collect template</h1>

{{#each collects as | data |}}
<div class="head">
  <div class="user">
    <div class="profile-photo">
      <img
        src="https://lh3.googleusercontent.com/MS8DTHZQAGoPeU0Ob1cyrsArl04dp7BtWF1GB39d4nRqJKZKkEpJ_QR6MNBqWK89-Yta6RdBnw4xEbAjiQ4VAx_zsiewA11vNHyP_A=w600">
    </div>
    <div class="ingo">
      <h3>{{data.collectName}}</h3>
      <small>5 MINUTES AGO</small>
    </div>
  </div>
  <span class="edit">
    <i class="uil uil-ellipsis-h"></i>
  </span>
</div>

<div class="photo">
  <img src="{{data.imageTag}}">
</div>

<div class="action-buttons">
  <div class="interaction-buttons">
    <span><i class="uil uil-heart"></i></span>
    <span><i class="uil uil-comment-dots"></i></span>
  </div>
</div>
<div class="liked-by">
  <p>Liked by 2,323 users</b></p>
</div>

<div class="caption">
  <p><b>{{data.collectName}}</b> {{data.content}} <span class="harsh-tag">#mynft</span></p>
</div>
<form class="create-post">
  <div class="profile-photo">
    {{!-- <img
      src="https://lh3.googleusercontent.com/MS8DTHZQAGoPeU0Ob1cyrsArl04dp7BtWF1GB39d4nRqJKZKkEpJ_QR6MNBqWK89-Yta6RdBnw4xEbAjiQ4VAx_zsiewA11vNHyP_A=w600">
    --}}
  </div>
  <input type="text" placeholder="Type your comment" id="create-post">
  <input type="submit" value="Comment" class="btn btn-primary">
</form>
</div>
{{/each}} --}}