    <section class="sec">
    <div class="imgBx">
        <img src="https://i.imgur.com/Cjsxp2T.png">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Sign Up</h2>
            <form>
                <div class="inputBx">
                  <span>Username</span> 
                  <input type="text" name="">
                </div>
                <div class="inputBx">
                  <span>Email</span> 
                  <input type="text" name="">
                </div>
                <div class="inputBx">
                  <span>Password</span> 
                  <input type="password" name="">
                </div>
                <!-- <div class="remember">
                    <label><input type="checkbox" name=""> Remember Me</label>
                </div> -->
                <div class="inputBx">
                    <input type="submit" value="Create Account" name="">
                  </div>
                  <div class="inputBx">
                      <p>Already have an account? <a href="#">Sign in</a></p>
                  </div>
            </form>
        </div>
    </div>
    </section>