    <section class="sec">
    <div class="imgBx">
        <img src="https://images.unsplash.com/photo-1551651653-c5186a1fbba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1081&q=80">
    </div>
    <div class="contentBx">
        <div class="formBx" id = "signup-form">
            <h2>Sign Up</h2>
            <form>
                <div class="inputBx">
                  <span>Username</span> 
                  <input type="text" name="" id="username-signup">
                </div>
                <div class="inputBx">
                  <span>Email</span> 
                  <input type="text" name="" id="password-signup">
                </div>
                <div class="inputBx">
                  <span>Password</span> 
                  <input type="password" name="">
                </div>
                <!-- <div class="remember">
                    <label><input type="checkbox" name=""> Remember Me</label>
                </div> -->
                <div class="inputBx">
                    <input type="submit" value="Create Account" name="">
                  </div>
                  <div class="inputBx">
                      <p>Already have an account? <a href="#">Sign in</a></p>
                  </div>
            </form>
        </div>
    </div>
    </section>